brotli
certifi
click
dash==1.19.0
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
flask
flask-Compress
future
itsdangerous
jinja2
markupSafe
plotly
pyYAML
retrying
six
werkzeug
wincertstore
gunicorn